/* 
    GENERAL
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: red;/* rgb(246, 248, 249); */
}

.container{
    width: 60%;
    margin: 1px auto;
    background-color: white;
}
/* 
    HEADER
*/
header{
    background-color: white;
    padding: 10px;
    margin-bottom: 40px;
}

header img{
    vertical-align: bottom;
}

header span{
    font-size: 40px;
    font-weight: bolder;
}

/* 
    NAVIGATOR
*/
nav{
    padding: 15px 0 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

nav .button{
    padding: 7px 15px;
    border-radius: 5px;
}

nav .button.first{
    margin-left: 50px;
    border: 0px;
    background-color: rgb(71, 173, 241);
    color: white;
}

nav .button.second{
    border: 1px solid grey;
    background-color: white;
    color: lightgrey;
}

/* 
    MAIN
*/
main{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

main>section{
    padding: 40px 50px;
}

main section h3{
    margin: 10px 0;
}

main section h3::before{
    content:'\25BC';
    font-size: small;
    margin-right: 5px;
}

/* Simboli */
main section p.completo::before{
    content:'\2713';
    color: green;
}

main section p.incompleto::before{
    content:'\2715';
    color: red;
}

/* Etichette colorate */
main section p.completo::before{
    content:'\2713';
    color: green;
}