/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(246, 248, 249);
}

.container{
    width: 60%;
    margin: 1px auto;
    background-color: white;
}
/* FINE GENERAL */


/* HEADER */
header{
    background-color: white;
    padding: 10px;
    margin-bottom: 40px;
}

header img{
    vertical-align: bottom;
}

header span{
    font-size: 40px;
    font-weight: bolder;
}
/* FINE HEADER */


/* NAVIGATOR */
nav{
    padding: 15px 0 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

nav .button{
    font-size: x-small;
    padding: 10px 12px 7px;
    border-radius: 5px;
    cursor: pointer;
}

nav .button.first{
    margin-left: 50px;
    border: 1px solid rgb(71, 173, 241);
    background-color: rgb(71, 173, 241);
    color: white;
}

nav .button.second{
    border: 1px solid lightgrey;
    background-color: white;
    color: lightgrey;
}
/* FINE NAVIGATOR */


/* MAIN */
main{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

main>section{
    padding: 0px 50px 30px;
}

.new-task{
    padding-top: 30px;
}

main section h3{
    margin-bottom: 5px;
}

main section span{
    display: inline-block;
    margin: 5px 0;
}

main section h3::before{
    content:'\25BC';
    font-size: small;
    margin-right: 5px;
}


/* Simboli colorati*/
main section span.cerchio::before{
    border-radius: 50%;
    padding: 1px 3px;
    font-size: x-small;
    margin-right: 5px;
}

main section span.completo::before{
    content:'\2713';
    color: green;
    border: 1px solid green;
}

main section span.incompleto::before{
    content:'\2715';
    color: red;
    border: 1px solid red;
}
/* Fine Simboli colorati */


/* Etichette colorate */
main section span.etichetta{
    font-size: x-small;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
}

main section span.editorial{
    background-color: rgb(69, 171, 234);
}

main section span.goals{
    background-color: rgb(156, 114, 228);
}

main section span.recruting{
    background-color: rgb(100, 192, 169);
}

main section span.mobile{
    background-color: rgb(242, 158, 51);
}

main section span.website{
    background-color: rgb(216, 99, 161);
}

main section span.sales{
    background-color: rgb(176, 201, 38);
}
/* Fine Etichette colorate */
/* FINE MAIN */